{% import 'custom_elements/_context_menu.twig' as context_menu %}
{% import 'custom_elements/_copy_link.twig' as copy_link %}

<nav class="l-document-editor__toolbar c-document-toolbar js-document-toolbar">
    <div class="c-document-toolbar__controls-group">
        <a href="{{ back_link }}" class="c-document-toolbar__back-button" aria-label="Back">
            <svg class="c-document-toolbar__back-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__back-arrow"/></svg>
        </a>
    </div>

    <div class="c-document-toolbar__controls-group">
        {% include '_breadcrumb_list.twig' %}
    </div>

    <div class="c-document-toolbar__controls-group">
        {% if mode is same as('create') %}
            <button class="c-document-toolbar__primary-button js-submit-document" type="button">
                Save
                <svg class="c-document-toolbar__primary-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__done"/></svg>
            </button>
        {% elseif mode is same as('edit') %}
            <a href="{{ view_url }}" class="c-document-toolbar__outline-button js-discard-changes">
                Discard changes
                <svg class="c-document-toolbar__outline-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__discard"/></svg>
            </a>
            <button class="c-document-toolbar__primary-button js-update-document" type="button">
                Save
                <svg class="c-document-toolbar__primary-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__done"/></svg>
            </button>
        {% elseif mode is same as('view') %}
            {{ copy_link.start(view_url, 'Link copied') }}
                {{ copy_link.button_start('c-document-toolbar__outline-button--icon-only', 'Copy a link to this doc to your clipboard') }}
                    <svg class="c-document-toolbar__outline-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__link"/></svg>
                {{ copy_link.button_end() }}
            {{ copy_link.end() }}
            <a href="{{ edit_url }}" class="c-document-toolbar__primary-button">
                Edit this doc
                <svg class="c-document-toolbar__primary-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__edit"/></svg>
            </a>
            <context-menu-toggle>
                <button class="c-document-toolbar__outline-button js-button" type="button" aria-controls="doc-more-options">
                    More
                    <svg class="c-document-toolbar__outline-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__more"/></svg>
                </button>
            </context-menu-toggle>
            {{ context_menu.start('doc-more-options') }}
                {{ context_menu.group_start() }}
                    {{ context_menu.item_start('link', { href: export_url, download: null }) }}
                        {{ context_menu.item_text('Export this doc') }}
                    {{ context_menu.item_end('link') }}
                {{ context_menu.group_end() }}
            {{ context_menu.end() }}
        {% endif %}
    </div>
</nav>
