{% if mode is same as('view') %}
    <div class="c-document__header">
        <h1 class="c-document__header-title">{{ document.name }}</h1>
        {% if document.description is not empty %}
            <p class="c-document__header-synopsis">{{ document.description }}</p>
        {% endif %}

    </div>
{% elseif mode in ['create', 'edit'] %}
    <form class="c-document__header js-document-form">
        <input type="hidden" name="knowledgebase_id" value="{{ knowledgebase_id }}">
        <input type="hidden" name="section_id" value="{{ section_id }}">
        <input type="hidden" name="allowed_marks" value='{{ allowed_marks|json_encode|raw }}'>
        <input type="hidden" name="allowed_nodes" value='{{ allowed_nodes|json_encode|raw }}'>

        <elastic-text-input>
            <textarea name="document_name" class="c-document__header-title" placeholder="Add a title" rows="1" maxlength="150"{% if mode is same as('edit') %} value="{{ document.name }}"{% endif %}></textarea>
        </elastic-text-input>

        <elastic-text-input>
            <textarea name="document_description" class="c-document__header-synopsis" placeholder="Optionally add a synopsis" rows="1" maxlength="300"{% if mode is same as('edit') %} value="{{ document.description }}"{% endif %}></textarea>
        </elastic-text-input>
    </form>
{% endif %}
