{% extends 'base_layout.twig' %}

{% block page_content %}

<div class="l-document-editor__container js-document-editor-container">
    <div class="l-document-editor__content">
        <header class="c-document-editor-header">
            <button class="c-document-editor-header__button" type="button" aria-label="Close">
                <svg class="c-document-editor-header__button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__close"/></svg>
            </button>
            <button class="c-document-editor-header__button" type="button" aria-label="Done">
                <svg class="js-submit-document c-document-editor-header__button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__done"/></svg>
            </button>
        </header>

        <div>
            {% if document_outline is not empty %}
                <span>Doc outline</span>

                <ol>
                    {% set level = null %}
                    {% for entry in document_outline %}
                        {% if level is not null and entry.level < level %}</ol>{% endif %}
                        {% if level is not null and (entry.level == level or entry.level < level) %}</li>{% endif %}
                        {% if level is not null and entry.level > level %}<ol>{% endif %}
                        <li>
                            <a href="#{{ entry.id }}">{{ entry.text }}</a>
                        {% set level = entry.level %}
                    {% endfor %}
                    </li>
                </ol>
            {% endif %}
        </div>

        <main>
            <h1 class="c-document-editor-header__title">{{ document.name }}</h1>
            <p class="c-document-editor-header__synopsis">{{ document.description }}</p>

            <div class="c-document-editor-document">{{ document_html|raw }}</div>
        </main>
    </div>
</div>

{% endblock %}
