{% extends '_app_default_layout.twig' %}

{% block navigational_header %}
<header class="c-app-header--hide-at-medium">
    <div class="c-app-header__top-bar">
        {% include '_mobile_navigation_toggle.twig' %}

        <div class="c-app-header__compass">
            <span class="c-app-header__compass-name">People</span>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}

<h1 class="c-page-title--hide-below-medium">People at {{ organization.name }}</h1>

<ol class="c-card-list--pad-bottom">
    {% for person in people_list %}
        <li class="c-card-list__item">
            <a class="c-card-list__item-link" href="{{ person.route }}">
                <div class="c-avatar c-card-list__item-avatar">
                    <span class="c-avatar__initials">{{ person.abbreviated_name }}</span>
                </div>
                <h2 class="c-card-list__item-title">{{ person.name }}</h2>
                {% if person.job_role_or_title is not null and person.job_role_or_title is not empty %}
                    <p class="c-card-list__item-description">{{ person.job_role_or_title }}</p>
                {% endif %}
                <span class="c-card-list__item-meta">Jointed <time datetime="{{ person.created.utc_datetime }}" title="{{ person.created.verbose }}">{{ person.created.time_ago }}</time></span>
            </a>
        </li>
    {% endfor %}
</ol>

{% endblock %}
