{% extends '_app_default_layout.twig' %}

{% block navigational_header %}{% include 'person/_person_header.twig' %}{% endblock %}

{% block content %}

<header class="c-page-header">
    <h1 class="c-page-header__title">{{ person.name }}</h1>

    <p class="c-page-header__subheading">{{ person.jobTitleOrRole|default('This person hasn’t added their job role yet') }}</p>

    {% if person.bio is null or person.bio is empty %}
        <p class="c-page-header__subheading--muted">This person hasn’t added a bio yet</p>
    {% else %}
        <p class="c-page-header__subheading">{{ person.bio }}</p>
    {% endif %}

    {% if person_is_current_user %}
        <button type="button" aria-label="Edit topic" class="c-page-header__edit-button">
            <svg class="c-page-header__edit-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__edit"/></svg>
        </button>
    {% endif %}
</header>

<section class="c-page-section">
    <div class="c-page-section__header">
        <h2 class="c-page-section__title">Member of these teams</h2>
    </div>

    <div class="c-page-section__content">
        <ol class="c-list">
            {% for team in team_memberships %}
                <li class="c-list__item--with-avatar">
                    <a class="c-list__item-link" href="{{ team.route }}">
                        <div class="c-avatar c-list__item-avatar">
                            <span class="c-avatar__initials">{{ team.name|trim|first|upper }}</span>
                        </div>
                        <h2 class="c-list__item-title">{{ team.name }}</h2>
                        <p class="c-list__item-description">{{ team.description }}</p>
                        <span class="c-list__item-meta">Created <time datetime="{{ team.created.utc_datetime }}" title="{{ team.created.verbose }}">{{ team.created.time_ago }}</time></span>
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
</section>

<section class="c-page-section">
    <div class="c-page-section__header">
        <h2 class="c-page-section__title">Working on these projects</h2>
    </div>

    <div class="c-page-section__content">
        <ol class="c-list">
            {% for project in project_memberships %}
                <li class="c-list__item--with-avatar">
                    <a class="c-list__item-link" href="{{ project.route }}">
                        <div class="c-avatar c-list__item-avatar">
                            <span class="c-avatar__initials">{{ project.name|trim|first|upper }}</span>
                        </div>
                        <h2 class="c-list__item-title">{{ project.name }}</h2>
                        <p class="c-list__item-description">{{ project.description }}</p>
                        <span class="c-list__item-meta">Created <time datetime="{{ project.created.utc_datetime }}" title="{{ project.created.verbose }}">{{ project.created.time_ago }}</time></span>
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
</section>

{% endblock %}
