<!doctype html>
<html class="no-js" lang="en">
    <head>
        <link rel="dns-prefetch" href="{{ asset_domain }}">
        <meta charset="utf-8">
        <title>Lithos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('app.css') }}" crossorigin="anonymous">
        <meta name="csrf" class="js-csrf" content="{{ csrf_token }}">
        <meta name="user_agent_profile" class="js-user-agent-profile" content='{{ user_agent_profile|json_encode|raw }}'>
    </head>

    <body>
        {% include 'icon_sprite.twig' %}

        {% block content %}{% endblock %}

        <script src="{{ asset('app.js') }}" crossorigin="anonymous"></script>
    </body>
</html>
