<ol class="c-card-list--pad-bottom">
    {% for entry in knowledgebase_entries %}
        <li class="c-card-list__item--discreet" data-id="{{ entry.id }}">
            <a class="c-card-list__item-link" href="{{ entry.route }}">
                <div class="c-avatar--{{ entry.type }} c-card-list__item-avatar">
                    <svg class="c-avatar__icon" aria-hidden="true"><use xlink:href="#icon-sprite__{{ entry.type }}"/></svg>
                </div>
                <h2 class="c-card-list__item-title">{{ entry.name }}</h2>
                <p class="c-card-list__item-description">{{ entry.description }}</p>
                <span class="c-card-list__item-meta">Updated <time datetime="{{ entry.updated.utc_datetime }}" title="{{ entry.updated.verbose }}">{{ entry.updated.time_ago }}</time></span>
            </a>
        </li>
    {% endfor %}
</ol>
