{% for result in search_results %}
    <li class="c-search-results__result">
        <a class="c-search-results__result-link" href="{{ result.route }}">
            <div class="c-avatar{% if result.type in ['document', 'topic'] %}--{{ result.type }}{% endif %} c-search-results__result-avatar">
                {% if result.type in ['document', 'topic'] %}
                    <svg class="c-avatar__icon c-search-results__result-avatar-icon" aria-hidden="true"><use xlink:href="#icon-sprite__{{ result.type }}"/></svg>
                {% else %}
                    <span class="c-avatar__initials">{{ result.initials }}</span>
                {% endif %}
            </div>
            <h2 class="c-search-results__result-title">{{ result.name }}</h2>
            {% if result.owners is defined %}
                <div class="c-search-results__result-owners" aria-label="Found in: ">
                    {% for owner in result.owners %}
                        {% if loop.last %}
                            <span class="c-search-results__result-owner">{{ owner }}</span>
                        {% else %}
                            <span class="c-search-results__result-owner">{{ owner }}<svg class="c-search-results__result-owners-divider" aria-hidden="true"><use href="#icon-sprite__chevron-right"/></svg></span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if result.raw_snippet %}
                <p class="c-search-results__result-body">{{ result.raw_snippet|raw }}</p>
            {% elseif result.description %}
                <p class="c-search-results__result-body">{{ result.description }}</p>
            {% endif %}
            <span class="c-search-results__result-meta">{{ result.timestamp_label|default('Updated') }} <time datetime="{{ result.timestamp.utc_datetime }}" title="{{ result.timestamp.verbose }}">{{ result.timestamp.time_ago }}</time></span>
        </a>
    </li>
{% endfor %}

{% if more_results is defined and more_results is same as(true) %}
    <li>
        <button class="c-search-results__more-button js-more-results-button" type="button" data-endpoint="{{ more_results_route|escape('html_attr') }}" data-query="{{ search_query|escape('html_attr') }}">More results</button>
    </li>
{% endif %}
