<!doctype html>
<html{% if htmlClassList is defined %} class="{{ htmlClassList|join(' ') }}"{% endif %} lang="en">
    <head>
        <link rel="dns-prefetch" href="{{ asset_domain }}">
        <meta charset="utf-8">
        <title>{% if html_title is defined %}{{ html_title }} – {% endif %}Hipper</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('app.css') }}" crossorigin="anonymous" integrity="{{ asset_integrity('app.css') }}">
        <meta name="csrf" class="js-csrf" content="{{ csrf_token }}">
        <meta name="asset_base_url" class="js-asset-base-url" content="{{ asset_domain }}">
        <meta name="user_agent_profile" class="js-user-agent-profile" content='{{ user_agent_profile|json_encode|raw }}'>
    </head>

    <body{% if bodyClassList is defined %} class="{{ bodyClassList|join(' ') }}"{% endif %}>
        {% include 'icon_sprite.twig' %}

        {% block page_content %}{% endblock %}

        <script src="{{ asset('app.js') }}" crossorigin="anonymous" integrity="{{ asset_integrity('app.js') }}"></script>
    </body>
</html>
