<html>
    <head>
        <title>{{ sender_name }} invited you to join {{ organization_name }} on Hipper</title>
    </head>
    <body>
        <p>Hey! {{ sender_name }} has invited you to join them making {{ organization_name }} a more transparent and open organization with Hipper.</p>
        <p><a href="https://usehipper.com">Hipper</a> helps great organizations share knowledge and foster a collaborative culture.</p>
        <p>Intruiged? <a href="{{ invite_link }}">Get started right away!</a></p>
        <p>If you have any questions about how {{ organization_name }} is going to use Hipper you can reply to this email and it will go straight to {{ sender_name }}. Any questions for us, tap out an email to {{ support_email_address }}.</p>
        <p>Over and out,</p>
        <p>You friends at Hipper</p>
    </body>
</html>
