{% extends 'activity/_activity_feed_activity_layout.twig' %}

{% block text %}
    {% if activity.properties.knowledgebase_owner_type is same as('team') %}
        {% set team_route = path('front_end.app.team.show', {
            subdomain: organization.subdomain,
            team_url_id: activity.properties.knowledgebase_owner_url_id,
        }) %}
        <a href="{{ activity.actor.route }}">{{ activity.actor.name }}</a> created a new doc in the <a href="{{ team_route }}">{{ activity.properties.knowledgebase_owner_name }}</a> team
    {% elseif activity.properties.knowledgebase_owner_type is same as('project') %}
        {% set project_route = path('front_end.app.project.show', {
            subdomain: organization.subdomain,
            project_url_id: activity.properties.knowledgebase_owner_url_id,
        }) %}
        <a href="{{ activity.actor.route }}">{{ activity.actor.name }}</a> created a new doc in the <a href="{{ project_route }}">{{ activity.properties.knowledgebase_owner_name }}</a> project
    {% else %}
        <a href="{{ activity.actor.route }}">{{ activity.actor.name }}</a> created a new doc
    {% endif %}
{% endblock %}

{% block attachment %}
    {% if activity.properties.knowledgebase_owner_type is same as('team') %}
        {% set document_route = path('front_end.app.team.doc.show', {
            subdomain: organization.subdomain,
            team_url_id: activity.properties.knowledgebase_owner_url_id,
            path: activity.properties.document_route ~ '~' ~ activity.properties.document_url_id,
            return_to: '/',
        }) %}
        {% include '_mini_card.twig' with {
            avatar_icon_type: 'document',
            avatar_type: 'icon',
            description: activity.properties.document_description,
            is_fixed: true,
            link_href: document_route,
            title: activity.properties.document_name,
        } only %}
    {% elseif activity.properties.knowledgebase_owner_type is same as('project') %}
        {% set document_route = path('front_end.app.project.doc.show', {
            subdomain: organization.subdomain,
            project_url_id: activity.properties.knowledgebase_owner_url_id,
            path: activity.properties.document_route ~ '~' ~ activity.properties.document_url_id,
            return_to: '/',
        }) %}
        {% include '_mini_card.twig' with {
            avatar_icon_type: 'document',
            avatar_type: 'icon',
            description: activity.properties.document_description,
            is_fixed: true,
            link_href: document_route,
            title: activity.properties.document_name,
        } only %}
    {% else %}
        {% set document_route = path('front_end.app.organization.doc.show', {
            subdomain: organization.subdomain,
            path: activity.properties.document_route ~ '~' ~ activity.properties.document_url_id,
            return_to: '/',
        }) %}
        {% include '_mini_card.twig' with {
            avatar_icon_type: 'document',
            avatar_type: 'icon',
            description: activity.properties.document_description,
            is_fixed: true,
            link_href: document_route,
            title: activity.properties.document_name,
        } only %}
    {% endif %}
{% endblock %}
