<!doctype html>
<html lang="en">
    <head>
        <link rel="dns-prefetch" href="{{ asset_domain }}">
        <meta charset="utf-8">
        <title>{% if html_title is defined %}{{ html_title }} – {% endif %}Hipper</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('signup.css') }}" crossorigin="anonymous" integrity="{{ asset_integrity('signup.css') }}">
        <meta name="csrf" class="js-csrf" content="{{ csrf_token }}">
        <meta name="asset_base_url" class="js-asset-base-url" content="{{ asset_domain }}">
    </head>

    <body>
        {% include 'icon_sprite.twig' %}

        {% block page_content %}{% endblock %}

        <script src="{{ asset('signup.js') }}" crossorigin="anonymous" integrity="{{ asset_integrity('signup.js') }}"></script>
    </body>
</html>
