{% extends '_app_default_layout.twig' %}

{% block navigational_header %}
<header class="c-app-header--hide-at-medium">
    <div class="c-app-header__top-bar">
        {% include '_mobile_navigation_toggle.twig' %}

        <div class="c-app-header__compass">
            <span class="c-app-header__compass-name">Projects</span>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}

<h1 class="c-page-title--hide-below-medium">Projects at {{ organization.name }}</h1>

<ol class="c-list">
    {% for project in projects_list %}
        <li class="c-list__item--with-avatar">
            <a class="c-list__item-link" href="{{ project.route }}">
                <div class="c-avatar c-list__item-avatar">
                    <span class="c-avatar__initials">{{ project.name|trim|first|upper }}</span>
                </div>
                <h2 class="c-list__item-title">{{ project.name }}</h2>
                <p class="c-list__item-description">{{ project.description }}</p>
                <span class="c-list__item-meta">Created <time datetime="{{ project.created.utc_datetime }}" title="{{ project.created.verbose }}">{{ project.created.time_ago }}</time></span>
            </a>
        </li>
    {% endfor %}
</ol>

{% endblock %}
